In [ ]:
Continuation with LISTS

In [ ]:
For loop implementation
For tempvar in mainvar:
    print (tempvar)

In [ ]:
Understanding the Range function Usage
range (startvalue, stopvalue, stepcount)

In [ ]:
print numbers 1 to 20 by using range along with a for loop

Note- lat value is always exclusive in range

In [2]:
for x in range (1,20):
    print (x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
I want to print a list of numbers from 1 to 30

In [4]:
numbers = list (range (1,30))
print (numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [6]:
type (numbers)

list

In [8]:
type (x)

int

In [ ]:
I want to print only even numbers from 1-20

In [10]:
even_numbers = list (range(2,20,2))
print (even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
I want to print only odd numbers from 1-20-----TASK FOR HOMEWORK

In [11]:
odd_numbers = list (range(1,20,1))
print (odd_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
Introduction to conditional statements
If else conditions

In [ ]:
Cars = ['Audi', 'BMW', 'Toyota', 'Benz', 'Maruthi']

In [ ]:
Requirements
Print list of cars by using a for loop but i want to print maruthi in capitals and remaining all others in title case

In [24]:
Cars = ['Audi', 'BMW', 'Toyota', 'Benz', 'Maruthi']
for x in Cars:
    if x == 'Maruthi':
       print (x.upper())
    else:
        print (x.title())

Audi
Bmw
Toyota
Benz
MARUTHI

In [ ]:
ENTRY TICKET FOR PARK

For children o - 4 years its free  
For children 5 to 10 years is 10 rupees
For remaining all others above 10 years is 15 rupees

if
elif
elif
else

In [104]:
childrenage = 11
if childrenage <=4:
    print ("No Entry Fee")
elif childrenage ==5:
    print("EntryFee = 10 Rupees")
elif childrenage ==6:
    print("EntryFee = 10 Rupees")
elif childrenage ==7:
    print("EntryFee = 10 Rupees")
elif childrenage ==8:
    print("EntryFee = 10 Rupees")
elif childrenage ==9:
    print("EntryFee = 10 Rupees")
elif childrenage ==10:
    print("EntryFee = 10 Rupees")
else:
    print ("Entry Fee = 15 Rupees")

Entry Fee = 15 Rupees